<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="app.css">
    <title>Заметочки</title>
</head>

<body style="margin-left: 0px;">
    <div id="app">
        <div class="container d-flex flex-column justify-content-center w-100">
            <div style="margin-top: 20px;">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Введите заметку</span>
                    </div>
                    <input type="text" v-model="noteText" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <button type="button" @click="addNote" class="btn btn-primary"
                            data-bs-dismiss="modal">Добавить</button>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="form-check m-md-1">
                            <input v-model="isFlex" v-bind:value="false" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="false">
                            <label class="form-check-label" for="exampleRadios1">
                              Список
                            </label>
                          </div>
                          <div class="form-check m-md-1">
                            <input v-model="isFlex"  v-bind:value="true" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="true">
                            <label class="form-check-label" for="exampleRadios2">
                              Таблица
                            </label>
                          </div>
                    </div>
                    <div>
                        <button type="button" @click="deleteNotes" class="btn btn-danger"
                            data-bs-dismiss="modal">Удалить всё</button>
                    </div>
                </div>
            </div>
            <div v-bind:class="{'d-flex flex-wrap' : isFlex}">
                <note v-for="note in notes" :key="note.id" :note="note" @delete-note="deleteNote">
                </note>
            </div>
        </div>
    </div>

    <script src="note.js"></script>
    <script src="app.js"></script>
</body>

</html>